$paddle-color: #ccc !default

.reveal .controls
  display: none
  position: fixed
  right: 10px
  bottom: 10px
  width: 55px
  height: 55px
  z-index: 30

.reveal .controls div
  +transition(opacity 0.2s ease)
  border: 8px solid transparent
  opacity: 0.1
  position: absolute
  width: 0
  height: 0

.reveal .controls div.enabled
  cursor: pointer
  opacity: 0.8

.reveal .controls div.enabled:active
  margin-top: 1px

.reveal .controls div.navigate-left
  border-right-color: $paddle-color
  border-right-width: 10px
  top: 20px

.reveal .controls div.navigate-right
  border-left-color: $paddle-color
  border-left-width: 10px
  top: 20px
  left: 38px

.reveal .controls div.navigate-up
  border-bottom-color: $paddle-color
  border-bottom-width: 10px
  left: 20px

.reveal .controls div.navigate-down
  border-top-color: $paddle-color
  border-top-width: 10px
  top: 38px
  left: 20px

