%mtn-header
  color: $primary
  &:before
    background: transparent image-url('showboat/mountains.png') no-repeat 0 0
    content: ""
    display: block
    margin-bottom: 0.25em
    width: 20px
    height: 5px

.reflect
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.75, transparent), to(rgba(0,0,0,0.2)))

.slide-header
  +box-sizing(border-box)
  +transition(opacity $speed ease)
  position: absolute
  top: 0.5em
  left: 0
  padding: 0 5%
  width: 100%
  z-index: 100
  opacity: 0
  &.in
    opacity: 1

.decal
  border-radius: 0.4em
  font-size: 85%
  font-family: $sans-bold-family
  text-transform: uppercase
  padding: 0.125em 0.5em

// Generate color lists and decal modifiers
@if $status-list
  @each $_status in $status-list
    $_class_name: nth($_status,1)
    $_color_value: nth($_status,2)
    .#{$_class_name}
      color: $_color_value
    .decal.#{$_class_name}
      color: white
      background-color: $_color_value

