// Fonts
+font-face('HelveticaNeueLTStd55Roman', 'showboat/helveticaneueltstd-roman-webfont', normal, normal, true)
+font-face('HelveticaNeueLTStd75Bold', 'showboat/helveticaneueltstd-bd-webfont', normal, normal, true)
+font-face('HelveticaNeueLTStd-Th', 'showboat/helveticaneueltstdth', normal, normal, true)
+font-face('MrsEavesBold', 'showboat/mrseavesbold-webfont', normal, normal, true)

$sans-family: "HelveticaNeueLTStd55Roman", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$sans-bold-family: "HelveticaNeueLTStd75Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$sans-lite-family: "HelveticaNeueLTStd-Th", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$serif-family: "MrsEavesBold", "Georgia", "Times", "Times New Roman", serif !default
$mono-family: "Menslo LG M", "Menlo", "Bitstream Vera Sans Mono", "Monaco", monospace !default


// Base sizing
$context-px: 16 !default
$base-font-size: 32 !default
$base-width: 1000 !default
$base-line-height: 1.4 !default
$base-vertical: $base-font-size * $base-line-height !default
$base-padding: 0.5em 0.8em !default
$radii: 0.4em !default


// Colors
$magenta: #ff00ff !default
$red: #b22222 !default
$green: #46a546 !default
$blue: #268bd2 !default
$primary: #00bce4 !default

$status-list: important $blue, success $green, danger $red, primary $primary


// Base element colors
$base-color: #5b5b5b !default
$base-bgc: white !default
$base-border: #ccc !default
$link-color: $primary !default
$link-hover: #434343 !default
$link-active: $link-hover !default
$link-selected: $link-active !default

