<!DOCTYPE html>
<html>
<head>
  <title>Showboat</title>
  <%= stylesheet_link_tag    "showboat/application", :media => "all" %>
  <%= javascript_include_tag "showboat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
