// Fonts
+font-face('HelveticaNeueLTStd55Roman', 'showboat/helveticaneueltstd-roman-webfont', normal, normal, true)
+font-face('HelveticaNeueLTStd75Bold', 'showboat/helveticaneueltstd-bd-webfont', normal, normal, true)
+font-face('HelveticaNeueLTStd-Th', 'showboat/helveticaneueltstdth', normal, normal, true)
+font-face('MrsEavesBold', 'showboat/mrseavesbold-webfont', normal, normal, true)

$sans-family: "HelveticaNeueLTStd55Roman", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$sans-bold-family: "HelveticaNeueLTStd75Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$sans-lite-family: "HelveticaNeueLTStd-Th", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$serif-family: "MrsEavesBold", "Georgia", "Times", "Times New Roman", serif
$mono-family: "Menslo LG M", "Menlo", "Bitstream Vera Sans Mono", "Monaco", monospace


// Base sizing
$context-px: 16
$base-font-size: 32
$base-width: 1000
$base-line-height: 1.4
$base-vertical: $base-font-size * $base-line-height
$base-padding: 0.5em 0.8em

// Colors
$magenta: #ff00ff
$cyan: #00ffff
$red: #b22222
$orange: #f26522
$yellow: #ffc40d
$green: #46a546
$blue: #268bd2
$indigo: #4b0082
$violet: #ee82ee

// CI
$primary: #00bce4

$status-list: important $blue, success $green, danger $red, primary $primary


// Base element colors
$base-color: #7d7e7c
$base-color: #5b5b5b
$base-color-hover: #434343
$base-color-active: $base-color-hover
$base-color-selected: $base-color-active

$link-color: $primary
$link-hover: #434343
$link-active: $link-hover
$link-selected: $link-active

$base-bgc: white
$base-bgc-hover: darken($base-bgc, 5%)
$base-bgc-active: $base-bgc-hover
$base-bgc-selected: $base-bgc-active

$base-border: #ccc
$base-border-hover: $primary
$base-border-active: $base-border-hover
$base-border-selected: $base-border-active

// Focus state
$focus-color: $base-color-hover
$focus-bgc: #fafafa
$focus-border: $base-border-hover
$focus-glow: 0 0 6px 2px #52a8ec

// Disabled state
$disabled-color: #bbb
$disabled-bgc: #eee
$disabled-border: #ddd
$disabled-opacity: 0.65

// Shadows
$small-drop-dark: 0 1px 0 rgba(black, 0.3)
$large-drop-dark: 0 1px 4px rgba(black, 0.3)
$small-drop-lite: 0 1px 0 rgba(white, 0.7)
$large-drop-lite: 0 1px 4px rgba(white, 0.7)

$small-inset-dark: 0 -1px 0 rgba(black, 0.3)
$large-inset-dark: inset 0 1px 4px rgba(black, 0.3)
$small-inset-lite: 0 -1px 0 rgba(white, 0.7)
$large-inset-lite: inset 0 1px 4px rgba(white, 0.7)


// Settings
$radii: 0.4em
$speed: 0.25s


// Project colors
$pause-bgc: rgba(white, 0.95)
$progress-bgc: $primary

$heading-color: #5b5b5b
$heading-family: $sans-lite-family
$heading-font-weight: normal
$code-bgc: #fdfdfd
$code-border: #cfd0cf
$code-color-inline: #0091ce

