.copy-template h1
  @extend %mtn-header

.copy-template p,
.copy-template pre
  width: 80%
.copy-template table
  width: 83%


@media (max-width: 1440px)
  .reveal .slides > .copy-template
    top: -40%
  .copy-template p,
  .copy-template pre
    width: 90%
  .copy-template table
    width: 93%


@media (max-width: 1024px)
  .reveal .slides > .copy-template
    top: -30%


@media (max-width: 768px)
  .reveal .slides > .copy-template
    top: -50%

