.reveal .slides > .end-template
  padding-top: 15%

.end-template h1
  +box-sizing(border-box)
  color: #7d7e7c
  text-align: right
  text-transform: lowercase
  float: left
  width: 60%
  &:after
    content: "."
    color: $primary

.end-template .slant
  position: absolute
  padding-top: 10%
  top: 0
  left: 52%
  z-index: -1

.end-template .logo
  +box-sizing(border-box)
  float: right
  width: 130px
  height: 95px


@media (max-width: 1440px)
  .reveal .slides > .end-template
    padding-top: 18%

@media (max-width: 1024px)
  .reveal .slides > .end-template
    padding-top: 25%
  .end-template .slant
    display: none

@media (max-width: 768px)
  .reveal .slides > .end-template
    padding-top: 35%
  .end-template .logo
    width: 65px
    height: 48px

@media (max-width: 320px)
  .reveal .slides > .end-template
    padding-top: 50%

