.reveal .slides > .end-template
  padding-top: 10%

.end-template h1
  +box-sizing(border-box)
  color: #7d7e7c
  text-align: right
  text-transform: lowercase
  float: left
  width: 60%
  &:after
    content: "."
    color: $primary

.end-template .slant
  position: absolute
  bottom: 10%
  left: 50%

.end-template .modeset-logo
  font-size: 60%
  float: right


@media (max-width: 1920px)
  .reveal .slides > .end-template
    padding-top: 15%

@media (max-width: 1440px)
  .reveal .slides > .end-template
    padding-top: 18%

@media (max-width: 1024px)
  .reveal .slides > .end-template
    padding-top: 25%
  .end-template .slant
    display: none

@media (max-width: 768px)
  .reveal .slides > .end-template
    padding-top: 35%

@media (max-width: 320px)
  .reveal .slides > .end-template
    padding-top: 50%

