.help-modal
  background-color: rgba(white, 0.9)
  position: fixed
  top: 10px
  right: 10px
  z-index: 2000
  box-shadow: $large-drop-dark

.help-modal .shortcut-title
  color: $primary
  border-bottom: 1px solid $primary

.help-modal p
  font-size: 14px
  text-transform: none
  margin: 1em

.help-modal span
  display: inline-block
  width: 350px

