.reveal .slides > .title-template
  padding-top: 10%

.title-template h1
  +font-percent(24)
  font-family: $sans-bold-family
  text-transform: uppercase
  margin-left: 0.5em

.title-template h2
  +box-sizing(border-box)
  background-color: #f0eff0
  text-transform: uppercase
  padding: 0.25em 0.25em 0
  width: 60%
  outline: 1px solid white

.title-template h2 + h2
  margin-top: 1px

.title-template date
  margin-left: 0.5em

.title-template .smoke
  position: absolute
  top: 0
  left: 210px
  z-index: -1

.title-template .slant
  position: absolute
  top: 35%
  right: 15%
  z-index: -1

.title-template .logo
  +box-sizing(border-box)
  position: absolute
  bottom: 7%
  right: 5%
  width: 130px
  height: 95px
  z-index: -1


@media (max-width: 1440px)
  .reveal .slides > .title-template
    padding-top: 15%
  .title-template h2
    width: 70%
  .title-template .logo
    right: 3%
  .title-template .slant
    right: 8%

@media (max-width: 1024px)
  .reveal .slides > .title-template
    padding-top: 20%
  .title-template h2
    width: 100%
  .title-template .logo
    position: static
    float: right
    margin-top: 1em
  .title-template .slant
    display: none

@media (max-width: 768px)
  .reveal .slides > .title-template
    padding-top: 30%

@media (max-width: 480px)
  .reveal .slides > .title-template
    padding-top: 20%
  .title-template .smoke
    display: none
  .title-template .logo
    float: left
    width: 65px
    height: 48px

@media (max-width: 320px)
  .reveal .slides > .title-template
    padding-top: 30%

